<!doctype html>

<html>

<head>


<body>

<strong> Location: Adjiringanor opposite shalom fabrics </strong>
<table border="1" cellpadding="6">

<tr>
	<th colspan="3"><h3>Booking</h3></th>
</tr>

<tr>
		<th>Appointment Availability</th>
		<th>Time</th>
		<th>Days</th>
		

</tr>
	
<tr>

<td>Availabile</td>
	<td>3:45 AM</td>
	<td>Monday </td>
	
</tr>

</table>

</body>





</head>