<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Slashnailsgh", "https://web.facebook.com/SylviaSlashnails/?_rdc=1&_rdr", class: "text-white" %></small>
    </div>
  </footer>